@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.about{
    /* border: none; */
    display: flex;
    margin-top: 25px;
}
.abt-info1 h4{
    display: flex;
    font-size: 20px;
    margin-top: 58px;
    font-family: 'pacifico', cursive;
    color: orange;
    font-weight: bold;
    margin-left: 15px;
}
.abt-imgs{
    /* border: 1px solid black; */
    width: 100%;
    /* height: 300px; */
    flex: 1;
    display:flex ;
    margin-top: 60px;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    
}
.abt-imgs1{
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;
    margin-left: 15px;
}




.abt-img1{
    display: flex;
    margin-right: 20px;
}
.abt-img1 img{
    width: 100%;
    height: 259px;
    transition: transform 0.3s ease-in-out;
}
.abt-img1:hover{
    transform: scale(1.05);
}



.abt-img2{
    margin-top: 30px;
    margin-right: 20px;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
}
.abt-img2 img{
    width: 100%;
    height: 194px;
    transition: transform 0.3s ease-in-out;

}

.abt-img2:hover{
    transform: scale(1.05);
}
.abt-imgs2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.abt-img3{
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 20px;
}
.abt-img3 img{
    width: 100%;
    height: 194px;
    transition: transform 0.3s ease-in-out;

}

.abt-img3:hover{
    transform: scale(1.05);
}
.abt-img4{
    display: flex;
    margin-right: 20px;
}
.abt-img4 img{
    width: 100%;
    height: 259px;
    transition: transform 0.3s ease-in-out;

}

.abt-img4:hover{
    transform: scale(1.05);
}
.abt-info2{
    /* border: 1px solid black; */
    flex: 1;
    display: flex;
    flex-direction: column;
}
.abt-info{
    /* border: 1px solid black; */
    flex: 1;
    display: flex;
    flex-direction: column;
}
.abt-info1{
     /* border: 1px solid black; */
     text-align: start;
     flex: 1;
    display: flex;
    flex-direction: column;
}
.abt-info1 h3{
    margin-top: 60px;
    color: #FEA116;
    font-family: pasifico, cursive;
    font-size: x-large;
    padding: 15px;
}
.abt-info1 h2{
    margin-top: 20px;
    font-size: 41px;
    color: black;
    padding: 15px;
}
.abt-info1 b{
    color: #FEA116;
}
.abt-info2{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: start;
    margin-top: -4px;
    padding: 15px;
}
.abt-info2 p{
    margin-top:20px ;
    color: grey;
}
.abt-info3{
    /* flex: 2; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.abt-exp{
    flex: 1;
    height: max-content;
    /* border: 1px solid black; */
    border-left:4px solid #FEA116;
    display: flex;
    padding: 10px;
}
.abt-exp h1{
    color: #FEA116;
    margin-right: 10px;
    /* margin-left: 10px; */
}
.abt-exp div{
    display: flex;
    flex-direction: column;
}
.abt-exp p{
    margin: 5px;
    color: grey;
}
.abt-info4{
    padding: 10px;
    margin-left: 17px;
    width: 30%;
    height: 50px;
    /* flex: 1; */
    display: flex;
    /* height: 10px; */
    margin-top: -4px;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
}

.iicon{
    display: flex;
    color: orange;
    width: 15%;
    margin-top:0px;
}
.abt-info4 p{
    font-size: 20px;
    /* height: 30px; */
    padding: 10px;
    /* background-color: #FEA116; */
    border: none;
    color: orange;
    cursor: pointer;
    /* transition: 0.10s; */
    /* justify-content: center; */
    
}
/* .abt-info4:hover{
    color: rgb(228, 183, 100);
} */
.abt-info4:hover{
    background-color: #fbe8cc;
    
}
.abt-info4 a{
    font-weight: bold;
    text-decoration: inherit;
    color: #FEA116;
}
.abt-info4 a:hover{
    color: black;

}


/* Tablet and above (768px+) */
@media (min-width: 768px) {
    .about{
        display: flex;
        flex-direction: row;
    }
  }
  /* Mobile-specific styles (up to 767px) */
@media (max-width: 767px) {
    .about{
        display: flex;
        flex-direction: column;
    }
    .abt-info3{
        display: flex;
        flex-direction: column;
  }
}
  /* Desktop Application (1024px+) */
  /* @media (min-width: 1024px) {
    body {
      font-size: 20px;
      padding: 40px;
      max-width: 1200px;
      margin: auto;
    }
  } */


  @media (max-width: 320px) {
    .abt-img1 img{
        width: 100%;
        height: 135px;
    }
    .abt-img2 img{
        width: 100%;
        height: 107px;
    }
    .abt-img3 img{
        width: 100%;
        height: 107px;
    }
    .abt-img4 img{
        width: 100%;
        height: 135px;
    }


  }

  @media (max-width: 376px) {
    .abt-img1 img{
        width: 100%;
        height: 135px;
    }
    .abt-img2 img{
        width: 100%;
        height: 107px;
    }
    .abt-img3 img{
        width: 100%;
        height: 107px;
    }
    .abt-img4 img{
        width: 100%;
        height: 135px;
    }


  }
  @media (max-width: 426px) {
    .abt-img1 img{
        width: 100%;
        height: 135px;
    }
    .abt-img2 img{
        width: 100%;
        height: 107px;
    }
    .abt-img3 img{
        width: 100%;
        height: 107px;
    }
    .abt-img4 img{
        width: 100%;
        height: 135px;
    }


  }