@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 

*{
  margin: 0;
  padding: 0;
  
  /* width: 100%; */
}

.text h6{
    display: flex;
    flex-wrap: wrap;
    color: orange;
    font-family: pacifico,cursive;
    font-size: 20px;
    justify-content: center;
    /* margin-top: 10px; */
    
  
  }
  .text h4 {
    display: flex;
    font-weight: bold;
    color: black;
    font-size: 30px;
    margin-top: 15px;
    font-family: "Nunito",sans-serif;
    font-weight: 700;
    justify-content: center;
    margin-right: -2px;
  }
.comment-slider {
    overflow: hidden;
    position: relative;
    z-index:- 1;
    display: flex;
 
  }

  .special {
    display: flex; 
     transition: transform 1s ease;
    /* width: 400px; */
    /* display: grid;
    grid-template-columns: repeat(3, minmax(60px, 1fr));
      flex-direction: row; */
  }

  .comment-slide {
    box-sizing: border-box;
    padding: 20px;
    background-color: #f9f9f9;
    /* border-radius: 10px; */
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .comment-slide img {
    width: 28px;
    height: 50px;
  }

.comment-slide h5{
    color: #666565;
    /* padding: 20px; */
}
.profile{
    display: flex;
    margin-top: 1%;
    
}
  .profile img {
    width: 50px;
    height: 50px;
    margin-top: 2%;
    margin-right: 10px;
    border-radius: 50%;
  }

  .profile h4 {
    margin-top: 5%;
    font-size: 18px;
    font-weight: bold;
  }

  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .media{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
  }
  
  @media (max-width: 769px) {
    .media{
        display: flex; 
        /* flex-direction: column; */
        /* width: 500px;
    }
  }

  @media (max-width: 769px) {
    .comment-slide{
        /* display: flex; */
        width: 100%;
        /* flex-direction: column; */
        /* width: 500px; */
    }
  }
  @media (max-width: 426px) {
    .comment-slider{
      width: 375px;
    }
    .comment-slide{
      width: 375px;
    }
  }
  @media (max-width: 375px) {
    .comment-slider{
      width: 375px;
    }
    .comment-slide{
      width: 375px;
    }
  }

  @media (max-width: 320px) {
    .comment-slider{
      width: 320px;
    }
    .comment-slide{
      width: 320px;
    }
  }

